.sectionPhotos h2{
    color: white;
    text-align: center;
    font-size: 45px;
}

.containerPhotos{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.figurePhotos{
    width: 25rem;
    margin: 0px;
    padding: 20px;
}

.figurePhotos > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.figurePhotos{
    width: 30rem;
    height: 25rem;
}
