.sectionAbout{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}


.figureAbout{
    width: 29rem;
    height: 20rem;
}

.imgAbout{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.textAbout{
    color: white;
    width: 40%;
    font-size: 1.2em;
    text-align: justify;
}

.sectionAbout h2{
    color: white;
    text-align: center;
    font-size: 45px;
    width: 100%;
    margin-top: 6rem;
}


@media (max-width: 860px) {
    .textAbout{
        width: 90%;
    } 
    .sectionAbout{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
 
    .textAbout{
       font-size:1rem;
    }

    .figureAbout{
        width: auto;
        height: 15rem;
    }
}