.sectionFooter h2 {
    color: white;
    text-align: center;
    font-size: 45px;
}

.figureSmileFooter{
    text-align: center;
    width: 6rem;
    height: 6rem;
    margin: auto;
}

.figureSmileFooter>img{
    width: 100%;
    height: 100%;
}

.sectionContact{
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 3em;
}

.figureSectionContact{
    width: 4.5rem;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sectionContact>a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15rem;
    margin: 1rem;
}

h5{
    margin:0.5rem 0rem;
}

.figureSectionContact>img{
    width: 100%;
}

footer{
    margin: 8rem 0rem;
    color: white;
    text-align: center;
    font-size: 2rem;
}

